* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1 {
    color: white;
    background-color: #075E54;
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.feed {
    padding: 10px;
    overflow-y: scroll;
    height: calc(100vh - 150px);
}

.feed p {
    padding: 10px;
    margin: 10px 0;
    background-color: #DCF8C6;
    font-size: 18px;
    border-radius: 8px;

}

#input-container {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    gap: 15px;
    background-color: #F4F4F4;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    
}

.user-text {
    padding: 10px;
    border: none;
    outline: none;
    flex: 1;
    margin-right: 10px;
    width: 30%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    
}

.message-text {
    padding: 10px;
    border: none;
    outline: none;
    flex: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

#botao {
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #075E54;
    color: white;
    margin-left: 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    
}

